*.asv
*.ini
html/
products/
eval/
*.avi
tempfigs/
data/
sandbox/
tools/*.txt
tools/*.csv
tools/*.xlsm
tools/*.fig
input/
test/output

# Don't ignore these
!.gitignore
input/template.m
input/ballastTest.m
input/disturbedDemo.m
input/rampedDemo.m
input/sinusoidDemo.m
input/utilityBaseline.m
